# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
toonder/node_modules/.cache/.eslintcache
toonder/node_modules/.cache/babel-loader/1bba541e723ecaf411820e7b100cab8db40d6f6f5f3a54771e81685c4893f995.json
toonder/node_modules/.cache/babel-loader/6dea0eccaf35aab4b6b7e03ff446c8973148489acfca282ee2e22af50a1675be.json
toonder/node_modules/.cache/babel-loader/7e887ac0f95c83048cf574e06461f4e075e75e18b9b875fc0e5da6c53abdbc28.json
toonder/node_modules/.cache/babel-loader/8f3f483dd3945310fa85e5903841f5145b9d8db31e16d852c464eddb132b3e8c.json
toonder/node_modules/.cache/babel-loader/20d427a14a311d3da445c3bf847edad22725f4bae1388e0ceadf46ad989f985a.json
toonder/node_modules/.cache/babel-loader/67c920d57ed53063b177272916f81ae5b0b00a6b04895badec611c8f6069238b.json
toonder/node_modules/.cache/babel-loader/93cb62cc32e8ace15c19669f35704051f00fbe758aac2aa46c7a3ae6d97d6595.json
toonder/node_modules/.cache/babel-loader/36527cb2ed12c3bc9d9766aa194859a1d52d2c327cd18ccfab438af5804286a7.json
toonder/node_modules/.cache/babel-loader/a4b284cbd99dee57a65ed0e4ee6b440a2a71669d406912804fefe0995f520964.json
toonder/node_modules/.cache/babel-loader/b0853017c548e8553d71d415e22c099bb9b47202519e4eb190c490f24bf2361c.json
toonder/node_modules/.cache/babel-loader/d2cf0797af79c453f404120701c9fb1a6149232c809b00c7dc2b7a3ef2ce24b7.json
toonder/node_modules/.cache/babel-loader/d160cd39f03cc9dc023f728259779a84a51fe65288edbfe6415f80ae92a18383.json
toonder/node_modules/.cache/babel-loader/e68c3a06df57a51e65d8390d2cb7fa642e5ba2b5812f6ab24f39f507cf9076c9.json
toonder/node_modules/.cache/babel-loader/eb9ed464074873223daeb5ae4e604c52d7d6e43733fdbb169a51a4db95382042.json
toonder/node_modules/.cache/babel-loader/f25f457454477e1278dd490d0b4398407f8213bc27d93b7a585e59460b9a6c1a.json
toonder/node_modules/.cache/babel-loader/f899a7885ca77ef475117ed9ceb4c19fe07b71363d16e8bc8c7ec2df58232d03.json
toonder/node_modules/.cache/babel-loader/fb4792a6bc510cddda09e02b7e5e8fe750d79fc30d8a3377c4f97b4153c8da85.json
toonder/node_modules/.cache/default-development/0.pack
toonder/node_modules/.cache/default-development/8.pack
toonder/node_modules/.cache/default-development/9.pack
toonder/node_modules/.cache/default-development/10.pack
toonder/node_modules/.cache/default-development/11.pack
toonder/node_modules/.cache/default-development/12.pack
toonder/node_modules/.cache/default-development/index.pack
toonder/node_modules/.cache/default-development/index.pack.old
toonder/node_modules/.cache/.eslintcache
toonder/node_modules/.cache/default-development/0.pack
toonder/node_modules/.cache/default-development/8.pack
toonder/node_modules/.cache/default-development/index.pack
toonder/node_modules/.cache/default-development/index.pack.old
toonder/node_modules/.cache/.eslintcache
toonder/node_modules/.cache/default-development/0.pack
toonder/node_modules/.cache/default-development/8.pack
toonder/node_modules/.cache/default-development/index.pack
toonder/node_modules/.cache/default-development/index.pack.old
toonder/node_modules/.cache/.eslintcache
toonder/node_modules/.cache/babel-loader/5feb44598190f5ef3769612a86bbea6f60a95a7feb8e031d0f939d13d9a156c9.json
toonder/node_modules/.cache/babel-loader/9d0228f058eef58d49dea8b373f4a00ddb064d1a18d762e3ac850488f34e56d6.json
toonder/node_modules/.cache/babel-loader/15fc725ea72d06e3662e4ea40b7a6a1848585ee80e7b8be5b3f05f1b69e91c08.json
toonder/node_modules/.cache/babel-loader/71e87ddf107bf66960c7cd59cd36b629d586b0fa14cb6bfa5410962eb59c08b5.json
toonder/node_modules/.cache/babel-loader/92106ff038afd58a65b7cd1b1dc1e8af74b8a6d4d678c2096a4975573dcd670c.json
toonder/node_modules/.cache/babel-loader/425942ca8f24ce2277e8b655189c91b657bf8c89dac0f0f0907e18ff1647ba92.json
toonder/node_modules/.cache/babel-loader/e10577806f6248b2be48d1cbab280ad3b905d776c4d2c3b10ff8fa0a7d4490be.json
toonder/node_modules/.cache/default-development/1.pack
toonder/node_modules/.cache/default-development/2.pack
toonder/node_modules/.cache/default-development/3.pack
toonder/node_modules/.cache/default-development/index.pack.old
toonder/node_modules/react-icons/index.d.ts
toonder/node_modules/react-icons/index.esm.js
toonder/node_modules/react-icons/index.js
toonder/node_modules/react-icons/LICENSE
toonder/node_modules/react-icons/package.json
toonder/node_modules/react-icons/README.md
toonder/node_modules/react-icons/ai/index.d.ts
toonder/node_modules/react-icons/ai/index.esm.js
toonder/node_modules/react-icons/ai/index.js
toonder/node_modules/react-icons/ai/package.json
toonder/node_modules/react-icons/bi/index.d.ts
toonder/node_modules/react-icons/bi/index.esm.js
toonder/node_modules/react-icons/bi/index.js
toonder/node_modules/react-icons/bi/package.json
toonder/node_modules/react-icons/bs/index.d.ts
toonder/node_modules/react-icons/bs/index.esm.js
toonder/node_modules/react-icons/bs/index.js
toonder/node_modules/react-icons/bs/package.json
toonder/node_modules/react-icons/cg/index.d.ts
toonder/node_modules/react-icons/cg/index.esm.js
toonder/node_modules/react-icons/cg/index.js
toonder/node_modules/react-icons/cg/package.json
toonder/node_modules/react-icons/ci/index.d.ts
toonder/node_modules/react-icons/ci/index.esm.js
toonder/node_modules/react-icons/ci/index.js
toonder/node_modules/react-icons/ci/package.json
toonder/node_modules/react-icons/di/index.d.ts
toonder/node_modules/react-icons/di/index.esm.js
toonder/node_modules/react-icons/di/index.js
toonder/node_modules/react-icons/di/package.json
toonder/node_modules/react-icons/fa/index.d.ts
toonder/node_modules/react-icons/fa/index.esm.js
toonder/node_modules/react-icons/fa/index.js
toonder/node_modules/react-icons/fa/package.json
toonder/node_modules/react-icons/fc/index.d.ts
toonder/node_modules/react-icons/fc/index.esm.js
toonder/node_modules/react-icons/fc/index.js
toonder/node_modules/react-icons/fc/package.json
toonder/node_modules/react-icons/fi/index.d.ts
toonder/node_modules/react-icons/fi/index.esm.js
toonder/node_modules/react-icons/fi/index.js
toonder/node_modules/react-icons/fi/package.json
toonder/node_modules/react-icons/gi/index.d.ts
toonder/node_modules/react-icons/gi/index.esm.js
toonder/node_modules/react-icons/gi/index.js
toonder/node_modules/react-icons/gi/package.json
toonder/node_modules/react-icons/go/index.d.ts
toonder/node_modules/react-icons/go/index.esm.js
toonder/node_modules/react-icons/go/index.js
toonder/node_modules/react-icons/go/package.json
toonder/node_modules/react-icons/gr/index.d.ts
toonder/node_modules/react-icons/gr/index.esm.js
toonder/node_modules/react-icons/gr/index.js
toonder/node_modules/react-icons/gr/package.json
toonder/node_modules/react-icons/hi/index.d.ts
toonder/node_modules/react-icons/hi/index.esm.js
toonder/node_modules/react-icons/hi/index.js
toonder/node_modules/react-icons/hi/package.json
toonder/node_modules/react-icons/hi2/index.d.ts
toonder/node_modules/react-icons/hi2/index.esm.js
toonder/node_modules/react-icons/hi2/index.js
toonder/node_modules/react-icons/hi2/package.json
toonder/node_modules/react-icons/im/index.d.ts
toonder/node_modules/react-icons/im/index.esm.js
toonder/node_modules/react-icons/im/index.js
toonder/node_modules/react-icons/im/package.json
toonder/node_modules/react-icons/io/index.d.ts
toonder/node_modules/react-icons/io/index.esm.js
toonder/node_modules/react-icons/io/index.js
toonder/node_modules/react-icons/io/package.json
toonder/node_modules/react-icons/io5/index.d.ts
toonder/node_modules/react-icons/io5/index.esm.js
toonder/node_modules/react-icons/io5/index.js
toonder/node_modules/react-icons/io5/package.json
toonder/node_modules/react-icons/lib/package.json
toonder/node_modules/react-icons/lib/cjs/iconBase.d.ts
toonder/node_modules/react-icons/lib/cjs/iconBase.js
toonder/node_modules/react-icons/lib/cjs/iconContext.d.ts
toonder/node_modules/react-icons/lib/cjs/iconContext.js
toonder/node_modules/react-icons/lib/cjs/iconsManifest.d.ts
toonder/node_modules/react-icons/lib/cjs/iconsManifest.js
toonder/node_modules/react-icons/lib/cjs/index.d.ts
toonder/node_modules/react-icons/lib/cjs/index.js
toonder/node_modules/react-icons/lib/esm/iconBase.d.ts
toonder/node_modules/react-icons/lib/esm/iconBase.js
toonder/node_modules/react-icons/lib/esm/iconContext.d.ts
toonder/node_modules/react-icons/lib/esm/iconContext.js
toonder/node_modules/react-icons/lib/esm/iconsManifest.d.ts
toonder/node_modules/react-icons/lib/esm/iconsManifest.js
toonder/node_modules/react-icons/lib/esm/index.d.ts
toonder/node_modules/react-icons/lib/esm/index.js
toonder/node_modules/react-icons/lu/index.d.ts
toonder/node_modules/react-icons/lu/index.esm.js
toonder/node_modules/react-icons/lu/index.js
toonder/node_modules/react-icons/lu/package.json
toonder/node_modules/react-icons/md/index.d.ts
toonder/node_modules/react-icons/md/index.esm.js
toonder/node_modules/react-icons/md/index.js
toonder/node_modules/react-icons/md/package.json
toonder/node_modules/react-icons/ri/index.d.ts
toonder/node_modules/react-icons/ri/index.esm.js
toonder/node_modules/react-icons/ri/index.js
toonder/node_modules/react-icons/ri/package.json
toonder/node_modules/react-icons/rx/index.d.ts
toonder/node_modules/react-icons/rx/index.esm.js
toonder/node_modules/react-icons/rx/index.js
toonder/node_modules/react-icons/rx/package.json
toonder/node_modules/react-icons/si/index.d.ts
toonder/node_modules/react-icons/si/index.esm.js
toonder/node_modules/react-icons/si/index.js
toonder/node_modules/react-icons/si/package.json
toonder/node_modules/react-icons/sl/index.d.ts
toonder/node_modules/react-icons/sl/index.esm.js
toonder/node_modules/react-icons/sl/index.js
toonder/node_modules/react-icons/sl/package.json
toonder/node_modules/react-icons/tb/index.d.ts
toonder/node_modules/react-icons/tb/index.esm.js
toonder/node_modules/react-icons/tb/index.js
toonder/node_modules/react-icons/tb/package.json
toonder/node_modules/react-icons/tfi/index.d.ts
toonder/node_modules/react-icons/tfi/index.esm.js
toonder/node_modules/react-icons/tfi/index.js
toonder/node_modules/react-icons/tfi/package.json
toonder/node_modules/react-icons/ti/index.d.ts
toonder/node_modules/react-icons/ti/index.esm.js
toonder/node_modules/react-icons/ti/index.js
toonder/node_modules/react-icons/ti/package.json
toonder/node_modules/react-icons/vsc/index.d.ts
toonder/node_modules/react-icons/vsc/index.esm.js
toonder/node_modules/react-icons/vsc/index.js
toonder/node_modules/react-icons/vsc/package.json
toonder/node_modules/react-icons/wi/index.d.ts
toonder/node_modules/react-icons/wi/index.esm.js
toonder/node_modules/react-icons/wi/index.js
toonder/node_modules/react-icons/wi/package.json
toonder/node_modules/.cache/.eslintcache
toonder/node_modules/.cache/babel-loader/0e33ef56cbfdc6e79fbb45e8896e60d7927c8dfa6ffddbac2883bd90986b486e.json
toonder/node_modules/.cache/babel-loader/0ec068f6133029e11910cdf9865746a564214a3850b1f79a7906d2fd73701d2d.json
toonder/node_modules/.cache/babel-loader/1c935c3800971ce7da00e6f6e0db5e71b375ccfded0935ab5b685045bb542477.json
toonder/node_modules/.cache/babel-loader/1d8daa5b2e012f05f9538eaf47d552fa5070a14b16e3a821ad078b6b09a35b2b.json
toonder/node_modules/.cache/babel-loader/2b19337a1c11b550b2fcc6264b0e604868425dd1b65be840bbc5d33676402b86.json
toonder/node_modules/.cache/babel-loader/2d7e1c5bfcde53c07a50ed9336b423ad9c7a797fab726660613dfd3ab3e6bca2.json
toonder/node_modules/.cache/babel-loader/2def674d306adbaf1fce67d105964d16ad37f5dcfb4b7168e55206c95709db07.json
toonder/node_modules/.cache/babel-loader/3ad8ac8fc2bc884861b3b3d61f95ac2f9d9b6f1b535bca619aa2a27f0325dafd.json
toonder/node_modules/.cache/babel-loader/04b66afe22149f2c4c9c4c2182e7e130b2f8e51ee25cfd72df2d1c2074fd372e.json
toonder/node_modules/.cache/babel-loader/4d77a8a2107e45d5167bc0895f784ed9b3941a68c5fc90133c09d35b7364d8d2.json
toonder/node_modules/.cache/babel-loader/4d3714cd97f628f6409bdf60df633f35a4c7a31f58f7ebcf2ad62e6f587547d9.json
toonder/node_modules/.cache/babel-loader/5a2fdac84102d2d72a25d1efd6855b59ab2e3a41c11bd6981e6064e13f9b3bd9.json
toonder/node_modules/.cache/babel-loader/5d267a28c894115a41591c7c4b8e381a2b36f6ec01c2ced291bb6b440e139d80.json
toonder/node_modules/.cache/babel-loader/6a31fb0d0c55ed1b83959b00093b60e2e533d22d0eb76b9b525dca042bc719f8.json
toonder/node_modules/.cache/babel-loader/07a0a0f65b4c2d586e99fea5847970efb4865a154f91d19474535a5a555cbf4d.json
toonder/node_modules/.cache/babel-loader/7f9cd9ef76b9d7b8bbe6b8b2d5a357d83ac8774c5643c36d8b41659381df065d.json
toonder/node_modules/.cache/babel-loader/8a822e813e3eacb09e2580183664dd30a86bacbee86d437df4e677493cace9c1.json
toonder/node_modules/.cache/babel-loader/9e4f35afabd2d9a1312b460702e191976c40818aef076c52fd512e8b410ecfc9.json
toonder/node_modules/.cache/babel-loader/009e709c2b779637f1ee5729e0cc10943287a578f8b3284e2edba4678d0e8196.json
toonder/node_modules/.cache/babel-loader/9ed0742c552cfe5725346e70eb53eb634d1290b5df288f2e9c6ef65bc9a35017.json
toonder/node_modules/.cache/babel-loader/9f11ede6cd5366435ebcb0c69cf64e70f5986abf7369fba5b933889068660cb6.json
toonder/node_modules/.cache/babel-loader/9fda39818ece280227357665c118d3ffa610ddb001069569e697f54232e7e497.json
toonder/node_modules/.cache/babel-loader/017a4dfc4317d595f5e2f7da1d807991c672eda2bc825a34f5f51ca025c32d25.json
toonder/node_modules/.cache/babel-loader/34beb2c491b315e1d13c378f8148aa05a502d2d84e68ebc652d858f2bfd0e1c9.json
toonder/node_modules/.cache/babel-loader/40eedfb797c5ae5bb8e5e2ef14b53e3e5a3f42caf1ab734a42df085eb00685a2.json
toonder/node_modules/.cache/babel-loader/44eeee8b8f28bfc404256065975971f0b35043daf5ed881e26d807e789a3f041.json
toonder/node_modules/.cache/babel-loader/50fa25828284b12257758f467a624ca51d737c367126df674762140c8a535708.json
toonder/node_modules/.cache/babel-loader/60d0a889e5968646830a249eb90d96edca9714218275fb9aca2b01cc80856e67.json
toonder/node_modules/.cache/babel-loader/067f0deb9151d5da4d5b87f7858a39876eb61290f1885cc18835ee1aa6f24118.json
toonder/node_modules/.cache/babel-loader/71db6d919d7c3a8e9a8becefe992775c71d6887bdc1cc3c727e57e6c7201ec54.json
toonder/node_modules/.cache/babel-loader/89a1f11a01b6d8a55517d47feb24a9bb908bbc991b76ed5df62890ff9a49d254.json
toonder/node_modules/.cache/babel-loader/92cfe7f9a3542a7387bd160fcf1a121ebcd65c14172f3f542942b98b16dd2622.json
toonder/node_modules/.cache/babel-loader/170b9127fc8cfe0e7db9760223e28b59e1abafd17de8907f915af4f7acbaf6bf.json
toonder/node_modules/.cache/babel-loader/222f31946a5a8dcb6403578dd75616704a9f04b7aa86c252551719f8ba08159d.json
toonder/node_modules/.cache/babel-loader/609d276d5233dc4e57c65888c6fa2abe3466fdf4ae65ac030544b57e2d38bb5c.json
toonder/node_modules/.cache/babel-loader/622bc01233c67f9eebe453a394ca03541c884e6e0125aee350eb6058786e107a.json
toonder/node_modules/.cache/babel-loader/730f7d369ddd8b2201b20d4c19fd4309314cc0dc032f9375f1b1abfdf10063f4.json
toonder/node_modules/.cache/babel-loader/748d4b8215cf86fd0db2adb1e6ddcbc5011b80cde02bde0f59de6b357885d9a0.json
toonder/node_modules/.cache/babel-loader/751ff26548b9273b94c496faaf5532d7f3a19164df30f2c51f9cdf497fc52af5.json
toonder/node_modules/.cache/babel-loader/969eecbce492542bc56c2f2cccf7dac3a1c593f22b06c170662a8d5443d7268c.json
toonder/node_modules/.cache/babel-loader/976c570983a346e0001c68d890c5940311619bf0ed931a3f9205f9946bcfc01b.json
toonder/node_modules/.cache/babel-loader/1037ea4fd9472be7004e907791757c34c43fe61bf8099299ea10f1312e907966.json
toonder/node_modules/.cache/babel-loader/1197a865ca6a819a0a8ce47f85deb17da6d04489ba710d97689c62605ced5291.json
toonder/node_modules/.cache/babel-loader/6004b5ccc9f59aabe365067dd944b68a93fb2a9eb771205b5e4fa9523c666bea.json
toonder/node_modules/.cache/babel-loader/13404f56418c92e4e6b8acb4de1895cc534d354f7bb4e5404f56144f85361eb3.json
toonder/node_modules/.cache/babel-loader/204592b426deb0847abebcfe21baede15669c468531bb892fe06045a9614cb96.json
toonder/node_modules/.cache/babel-loader/0310494793d99e033b8b13b61bbf7b67d9bb3639f2d727d12b3411ee6080ea13.json
toonder/node_modules/.cache/babel-loader/b708a93018f29e46568e1b827728b4f97f002302b9efcd499ca88a06b1d49ef5.json
toonder/node_modules/.cache/babel-loader/b1566a31d153e1284ec37e077cb10994aa39db272458d072029fbb538547f3f6.json
toonder/node_modules/.cache/babel-loader/bfc8d2489f7adcb44dfdea3123daa6e7c3d87725b9d145540ebcfa23811e7004.json
toonder/node_modules/.cache/babel-loader/c9b71c008d10897e8c14d0b1621339c45ec78f6a017e2323af299b0de7221f62.json
toonder/node_modules/.cache/babel-loader/c10e0a4b04571096ce8f9b936deb313004432320e3350f33e87c56bb54f80c2f.json
toonder/node_modules/.cache/babel-loader/cb8ab74e9dc2b698d0bd701af37993eba19153b3195419443f30bba2a43e3c73.json
toonder/node_modules/.cache/babel-loader/d745ec80bd0a3d89bd5224c657f90d27bb4caf5e5a4c90eab16cd7870eda64fa.json
toonder/node_modules/.cache/babel-loader/d22772be303109190ce57df57980efc86a59477bfe866b61bc7033aff374fcb9.json
toonder/node_modules/.cache/babel-loader/e053ece2087645168d7d6fc8354a469559981b513470ecfb063390bda678abe8.json
toonder/node_modules/.cache/babel-loader/e459a083056bae3b2153a6692fc2e208e044ce1a9eded52a483b332299172e69.json
toonder/node_modules/.cache/babel-loader/e392079ca219b7ab4f4eed9efe74f3525f3a37d14e8c2f8f03c5cd66270c94cf.json
toonder/node_modules/.cache/babel-loader/ee65b1bb0875897b58d3bbe98dcb2251735b4e804e1a0cb8138d887c30ec6c86.json
toonder/node_modules/.cache/babel-loader/eec9a1828757cdbea8072d78c07ff74441ff88186ae5a454d8d785f9691f24fe.json
toonder/node_modules/.cache/babel-loader/effecc1abdcfb412ff2f30d30cbed9e06cae4b08f56332725bc75eb5d4e7f5a2.json
toonder/node_modules/.cache/babel-loader/f4fbd94be6a3c6da75413f085e66aa56ba6f26dbb18de7818ed387492eca57f7.json
toonder/node_modules/.cache/babel-loader/f483ee7c6358a09b5d045548828f41bfc70d741eb087a2592555819132069ac4.json
toonder/node_modules/.cache/babel-loader/f40987bc50fbb011d914ab4b0bfe95f6003dfbe29976890c9719b772bbe9a790.json
toonder/node_modules/.cache/babel-loader/fcec6327c0d5780c85a4d255a302b55c3b449716ad7296ce9ecd4e0b9f85a130.json
toonder/node_modules/.cache/default-development/0.pack
toonder/node_modules/.cache/default-development/1.pack
toonder/node_modules/.cache/default-development/2.pack
toonder/node_modules/.cache/default-development/3.pack
toonder/node_modules/.cache/default-development/4.pack
toonder/node_modules/.cache/default-development/5.pack
toonder/node_modules/.cache/default-development/6.pack
toonder/node_modules/.cache/default-development/7.pack
toonder/node_modules/.cache/default-development/8.pack
toonder/node_modules/.cache/default-development/13.pack
toonder/node_modules/.cache/default-development/14.pack
toonder/node_modules/.cache/default-development/index.pack.old
toonder/node_modules/.cache/.eslintcache
toonder/node_modules/.cache/babel-loader/a3e3d1694d665e842d96264339c6244ff8b88b5b8402b649ddc11634255b9e28.json
toonder/node_modules/.cache/default-development/0.pack
toonder/node_modules/.cache/default-development/1.pack
toonder/node_modules/.cache/default-development/2.pack
toonder/node_modules/.cache/default-development/3.pack
toonder/node_modules/.cache/default-development/4.pack
toonder/node_modules/.cache/default-development/5.pack
toonder/node_modules/.cache/default-development/6.pack
toonder/node_modules/.cache/default-development/7.pack
toonder/node_modules/.cache/default-development/8.pack
toonder/node_modules/.cache/default-development/index.pack.old
