# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
toonder/node_modules/.cache/.eslintcache
toonder/node_modules/.cache/babel-loader/1bba541e723ecaf411820e7b100cab8db40d6f6f5f3a54771e81685c4893f995.json
toonder/node_modules/.cache/babel-loader/6dea0eccaf35aab4b6b7e03ff446c8973148489acfca282ee2e22af50a1675be.json
toonder/node_modules/.cache/babel-loader/7e887ac0f95c83048cf574e06461f4e075e75e18b9b875fc0e5da6c53abdbc28.json
toonder/node_modules/.cache/babel-loader/8f3f483dd3945310fa85e5903841f5145b9d8db31e16d852c464eddb132b3e8c.json
toonder/node_modules/.cache/babel-loader/20d427a14a311d3da445c3bf847edad22725f4bae1388e0ceadf46ad989f985a.json
toonder/node_modules/.cache/babel-loader/67c920d57ed53063b177272916f81ae5b0b00a6b04895badec611c8f6069238b.json
toonder/node_modules/.cache/babel-loader/93cb62cc32e8ace15c19669f35704051f00fbe758aac2aa46c7a3ae6d97d6595.json
toonder/node_modules/.cache/babel-loader/36527cb2ed12c3bc9d9766aa194859a1d52d2c327cd18ccfab438af5804286a7.json
toonder/node_modules/.cache/babel-loader/a4b284cbd99dee57a65ed0e4ee6b440a2a71669d406912804fefe0995f520964.json
toonder/node_modules/.cache/babel-loader/b0853017c548e8553d71d415e22c099bb9b47202519e4eb190c490f24bf2361c.json
toonder/node_modules/.cache/babel-loader/d2cf0797af79c453f404120701c9fb1a6149232c809b00c7dc2b7a3ef2ce24b7.json
toonder/node_modules/.cache/babel-loader/d160cd39f03cc9dc023f728259779a84a51fe65288edbfe6415f80ae92a18383.json
toonder/node_modules/.cache/babel-loader/e68c3a06df57a51e65d8390d2cb7fa642e5ba2b5812f6ab24f39f507cf9076c9.json
toonder/node_modules/.cache/babel-loader/eb9ed464074873223daeb5ae4e604c52d7d6e43733fdbb169a51a4db95382042.json
toonder/node_modules/.cache/babel-loader/f25f457454477e1278dd490d0b4398407f8213bc27d93b7a585e59460b9a6c1a.json
toonder/node_modules/.cache/babel-loader/f899a7885ca77ef475117ed9ceb4c19fe07b71363d16e8bc8c7ec2df58232d03.json
toonder/node_modules/.cache/babel-loader/fb4792a6bc510cddda09e02b7e5e8fe750d79fc30d8a3377c4f97b4153c8da85.json
toonder/node_modules/.cache/default-development/0.pack
toonder/node_modules/.cache/default-development/8.pack
toonder/node_modules/.cache/default-development/9.pack
toonder/node_modules/.cache/default-development/10.pack
toonder/node_modules/.cache/default-development/11.pack
toonder/node_modules/.cache/default-development/12.pack
toonder/node_modules/.cache/default-development/index.pack
toonder/node_modules/.cache/default-development/index.pack.old
toonder/node_modules/.cache/.eslintcache
toonder/node_modules/.cache/default-development/0.pack
toonder/node_modules/.cache/default-development/8.pack
toonder/node_modules/.cache/default-development/index.pack
toonder/node_modules/.cache/default-development/index.pack.old
toonder/node_modules/.cache/.eslintcache
toonder/node_modules/.cache/default-development/0.pack
toonder/node_modules/.cache/default-development/8.pack
toonder/node_modules/.cache/default-development/index.pack
toonder/node_modules/.cache/default-development/index.pack.old
