/*global*/
@font-face {
    font-family: 'BMHANNAPro';
    src: url('../fonts/BMHANNAPro.woff') format('woff');
  }

*{
  font-family: 'BMHANNAPro', sans-serif;
  margin: 0;
  padding: 0;
}

button, input{
    /*모든 입력창과 버튼에 라운드 처리를 해주고 경계선을 없앴습니다.*/
    border: none;
    border-radius: 10px;
}

/*mainBackground*/
.mainPageBack{
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width:1224px;
    border-radius: 10px;
}

.logoSearch{
    display: flex;
}

.mainBackSmall{
    margin-top: 61px;
}


/* 좌측 nav 부분*/
#main_page {
    display: flex;
    align-items: center;
  }

.mainLogo{
    display: flex;
    height: auto;
    margin-right: 20px;
    width: 257px;

}

.mainLogo button{
    background-color:white;
}
.mainLogo h1{
    font-size: 40px;
    margin-left: 20px;
    color: rgb(255, 147, 147);
}

/*이름, 정보수정 */

.mainInfo{
    position: absolute;
    border-radius: 10px;
    background-color: rgb(255, 147, 147);
    width: 199px;
    height: 293px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainInfo h2{
    position: absolute;
    top: 187px;
}

.mainInfo button{
    position: absolute;
    top: 242px;
    height: 40px;
    color: white;
    background-color: rgb(255, 147, 147);
}


/*버튼 세트 */
.mainButtonSet{
    display: flex;
    position: absolute;
    width: 199px;
    height: 293px;
    margin-top: 326px;
    flex-direction: column;
    align-items: center;
}

.mainButtonSet button{
    display: flex;
    align-items: center;
    background-color: white;
    color:rgb(255, 147, 147);
    width: 160px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
}

/* 우측 section 부분*/
.mainSearch{
    border-radius: 10px;
    display : flex;
    /* 가로축 가운데 정렬 */
    justify-content : center;
    /* 세로축 가운데 정렬 */
    align-items : center;
    width: 953px;
    height: 84px;
    background-color: rgb(255, 147, 147);
    background-size: 953px 84px;
}

/* 검색 하는 부분*/
.mainSearch input{
    width: 806px;
    height: 64px;
    font-size: 24px;
}

.mainSearch button{
    border-radius: 10px;
    margin-left: 13px;
    width: 90px;
    height: 45px;
    background-color: white;
    color: rgb(255, 147, 147);
    font-size: 20px;
}


/*main_page*/
.mainPage{
    display: flex;
    position: absolute;
    background-color: rgb(255, 147, 147);
    width: 953px;
    height: 526px;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    color:white;
    margin-left:271px;
}

/* main 콘텐츠가 나타날 부분*/
main{
    margin-left: 11px;
    margin-right: 38px;
    float:right;
}
.mainPage h2{
    margin-bottom: 36px;
    margin-left: 17px;

}
.mainPage td{
    width: 207px;
    height: 314px;
    border-radius: 10px;
    padding-left: 17px;
}

.mainPage img ,.mainPage button{
    width: 207px;
    height: 314px;
    border-radius: 10px;
}

/*밑의 부분이 나타날 부분*/
.botPage{
    position: absolute;
    top:552px;
    width: 953px;
    height: 149px;
    background-color: rgb(255, 147, 147);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    color:white;
}

.botPage section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:white;
    width: 860px;
    height: 115px;
    color: rgb(255, 147, 147);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.botPage li{
    margin-left: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

/*웹툰 목록*/
.mainWebtoonList{
    position: absolute;
    width: 953px;
    height: 715px;
    background-color: rgb(255, 147, 147);
    border-radius: 10px;
    color:white;
    margin-left:271px;
}

.mainWebtoonList table{
    height: 645px;
    width: 873px;
    margin-top: 40px;
    margin-left: 44px;
}

table td,table img, table button{
    height: 314px;
    width: 207px;
    border-radius: 10px;
}


/*웹툰 정보와 리뷰*/

.mainwtInfo,.mainStory, .mainReview{
    background-color: rgb(255, 147, 147);
    border-radius: 10px;

}
.mainWebtoonInfo{
    display: flex;
    align-items: center;
    float:right;
}
.mainwtInfo{
    display: flex;
    width: 583px;
    height: 391px;
}
.mainStory{
    width: 339px;
    height: 391px;
    margin-left: 31px;
}
.mainReview{
    width: 950px;
    height: 292px;
    margin-top: 18px;
    float:right;
}

.subwtInfo {
    margin-left: 62px;
    margin-top: 70px;
}


.mainwtInfo img{
    height: 314px;
    width: 207px;
    border-radius: 10px;
    margin-top: 41px;
    margin-left: 45px;
}

.subwtInfo h1{
    color: white;
}
.subwtInfo ul{
    height: 85px;
    width: 195px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 73px;
    margin-left: 30px;
}

.subwtInfo li{
    color:rgb(255, 147, 147);
    margin-left: 28px;
}

/*줄거리 내용*/
.mainStory h1{
    margin-left: 41px;
    margin-top: 70px;
    color: white;
}
.mainStory ul{
    height: 85px;
    width: 255px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 74px;
    margin-left: 44px;
}

.mainStory li{
    color:rgb(255, 147, 147);
    margin-left: 28px;
}

/*mainReview메인 리뷰*/
.mainReview h1{
    color: white;
    padding-top: 12px;
    margin-left: 24px;
}

.mainReview section{
    color:rgb(255, 147, 147);
    background-color: white;
    margin-top: 6px;
    margin-left: 37px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 860px;
    height: 115px;
    border-radius: 10px;
}

.mainReview li{
    margin-left: 30px;
    line-height: 25px;

}

.mainReview input{
    width: 860px;
    height: 58px;
    margin-top: 30px;
    margin-left: 37px;
}

/*My page*/
.mainUserInfo{
    margin-top: 61px;
    width: 1224px;
    height: 293px;
    background-color: rgb(255, 147, 147);
    color: white;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center


}
.mainUserInfo h1{
    margin: auto;
}

.subUserInfo{
    display: flex;
}

.myReview , .myPost{
    margin-top: 58px;
    background-color: rgb(255, 147, 147);
    color: white;
    width: 602px;
    height: 293px;
    border-radius: 10px;
}

.myReview h2, .myPost h2{
    margin: 25px;
}

.myReview{
    margin-right: 43px;
}

.subUserInfo section{
    width: 523px;
    height: 184px;
    background-color: white;
    color:rgb(255, 147, 147);
    border-radius: 10px;
    margin: auto;
    padding: 5px;
}

.subUserInfo h4, .subUserInfo ul{
    margin: 20px;
}

/*Freeboard*/
.mainboard {
    width: 1224px;
    height: 609px;
    background-color: rgb(255, 147, 147);
    border-radius: 10px;
    margin-top: 50px;
}
.mainboard h2 {
    padding: 17px 58px;
    color: white;
}
.mainboard li{
    width: 1094px;
    height:64px;
    margin: 18px auto;
    background-color: white;
    color:rgb(255, 147, 147);
    border-radius: 10px;
}


.subbuttons{
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
}

#freewrite{
    background-color: rgb(255, 147, 147);
    color: white;
    width: 116px;
    height: 44px;
    font-size: 30px;
    float: right;
}

/* Pagination links */
.pagination {
    display: flex;
    justify-content: center;
    margin: auto;
}

.pagination a {
    color: grey;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

  /* Style the active/current link */
.pagination a.active {
    background-color: rgb(255, 147, 147);
    color: white;
}

  /* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {
    background-color: #ddd;
    color:white;
}
