/*global*/
@font-face {
    font-family: 'BMHANNAPro';
    src: url('../fonts/BMHANNAPro.woff') format('woff');
  }

*{
  font-family: 'BMHANNAPro', sans-serif;
}

button, input{
    /*모든 입력창과 버튼에 라운드 처리를 해주고 경계선을 없앴습니다.*/
    border: none;
    border-radius: 10px;
}

/*mainBackground*/
.mainPageBack{
    display: flex;
    margin-left: 86px;
    margin-top: 102px;
    border-radius: 10px;
}

.mainLogo{
    display: flex;
    align-items: center;
    height: auto;
    float: left;
    color: rgb(255, 147, 147);
    margin-right: 20px;
}

.mainLogo h1{
    margin-left: 20px;
}

.mainSearch{
    border-radius: 10px;
    display : flex;
    /* 가로축 가운데 정렬 */
    justify-content : center;
    /* 세로축 가운데 정렬 */
    align-items : center;
    width: 953px;
    height: 84px;
    background-color: rgb(255, 147, 147);
    background-size: 953px 84px;
}

.mainSearch input{
    width: 806px;
    height: 64px;
    font-size: 24px;
}

.mainSearch button{
    border-radius: 10px;
    margin-left: 13px;
    width: 90px;
    height: 45px;
    background-color: white;
    color: rgb(255, 147, 147);
    font-size: 20px;
}

.mainInfo{
    position: absolute;
    top: 256px;
    border-radius: 10px;
    background-color: rgb(255, 147, 147);
    width: 199px;
    height: 293px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainInfo h2{
    position: absolute;
    top: 187px;
}

.mainInfo button{
    position: absolute;
    top: 242px;
    height: 40px;
    color: white;
    background-color: rgb(255, 147, 147);
}

.mainButtonSet{
    display: flex;
    position: absolute;
    width: 199px;
    height: 293px;
    top: 583px;
    flex-direction: column;
    align-items: center;
}

.mainButtonSet button{
    display: flex;
    align-items: center;
    background-color: white;
    color:rgb(255, 147, 147);
    width: 160px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
}

/*main_page*/
.mainPage{
    display: flex;
    position: absolute;
    background-color: rgb(255, 147, 147);
    width: 953px;
    height: 526px;
    top: 256px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}