.name {
  transform: translateX(4.5%);
  display: flex;
  position: relative;
  top: -110px;
}

.name input {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 13px;
  width: 220px;
  box-sizing: border-box;
  margin-right: 50px;
  font-family: sans-serif;
}

.email {
  transform: translateX(4.5%);
  display: flex;
  position: relative;
  top: -90px;
}

.email input {
  right: 0px;
  display: inline-block;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 13px;
  box-sizing: border-box;
  width: 380px;
  font-family: sans-serif;
}

.email button {
  left: 19px;
  display: inline-block;
  position: relative;
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  font-size: 25px;
  transition: background-color 0.3s ease;
  padding: 0px;
  font-family: 'BMHANNAPro' !important;
}

.password {
  transform: translateX(4.5%);
  display: flex;
  position: absolute;
  top: 380px;
}

.password input {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 13px;
  width: 220px;
  box-sizing: border-box;
  margin-right: 50px;
  font-family: sans-serif;
}

.textBox {
  transform: translateX(5%);
  display: flex;
  position: absolute;
  top: 440px;
}

.textBox textarea {
  width: 490px;
  height: 200px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding-top: 10px;
  font-family: sans-serif;
}

.submit {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 650px;
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  font-size: 28px;
  transition: background-color 0.3s ease;
  font-family: 'BMHANNAPro' !important;
  width: 100px;
}
