body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0; /* body의 기본 margin 제거 */
    background-image: url("./images/backgroundimg.png");
    background-position: center 200px;
    background-repeat: no-repeat;
    background-size: 318px 265px;
}

.findid{
    margin-top: 100px;
    font-size: 35px;
}

.findid_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:60px;
}
  .findid_body form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .findid_body input {
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
  }

  .findid_body button {
    padding: 12px 24px;
    border: none;
    background-color: rgb(255, 147, 147);
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    font-size: 20px;
    transition: background-color 0.3s ease;
  }
  #enter_name {
    margin-bottom: 10px;
    height: 30px;
  }
  #enter_id {
    margin-top: 10px;
    height: 30px;
  }